<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="brand" class="navbar-brand" href="/">flickSEARCH</a>
      <a id="brand" class="navbar-brand" href="/favorites">favorites</a>
      <a id="brand" class="navbar-brand" href="/favorites/tags">tags</a>
    </div>
    <div class="navbar-right">
    <form method="get" action="/flickSearch" class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Search">
        <input type="submit" class="btn btn-default">
      </div>
    </form>
    </div>
  </div>
</nav>